src/main/java/com/janis/bgg/demo/xml/items2/Items.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           attributeFormDefault="unqualified">
    <!-- XML Schema Generated from XML Document on Thu Oct 03 2019 19:53:41 GMT+0200 (czas środkowoeuropejski letni) -->
    <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
    <xs:element name="items">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="item">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="thumbnail" type="xs:string"></xs:element>
                            <xs:element name="image" type="xs:string"></xs:element>
                            <xs:element name="name" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="type" type="xs:string"></xs:attribute>
                                    <xs:attribute name="sortindex" type="xs:int"></xs:attribute>
                                    <xs:attribute name="value" type="xs:string"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="description" type="xs:string"></xs:element>
                            <xs:element name="yearpublished">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:int"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="minplayers">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:int"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="maxplayers">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:int"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="poll">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="results" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="result" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:attribute name="value" type="xs:string"></xs:attribute>
                                                            <xs:attribute name="numvotes" type="xs:int"></xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="numplayers" type="xs:int"></xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="name" type="xs:string"></xs:attribute>
                                    <xs:attribute name="title" type="xs:string"></xs:attribute>
                                    <xs:attribute name="totalvotes" type="xs:int"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="playingtime">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:int"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="minplaytime">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:int"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="maxplaytime">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:int"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="minage">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:int"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="poll" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="results">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="result" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:attribute name="value" type="xs:int"></xs:attribute>
                                                            <xs:attribute name="numvotes" type="xs:int"></xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="name" type="xs:string"></xs:attribute>
                                    <xs:attribute name="title" type="xs:string"></xs:attribute>
                                    <xs:attribute name="totalvotes" type="xs:int"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="link" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="type" type="xs:string"></xs:attribute>
                                    <xs:attribute name="id" type="xs:int"></xs:attribute>
                                    <xs:attribute name="value" type="xs:string"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="statistics">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ratings">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="usersrated">
                                                        <xs:complexType>
                                                            <xs:attribute name="value" type="xs:int"></xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="average">
                                                        <xs:complexType>
                                                            <xs:attribute name="value" type="xs:double"></xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="bayesaverage">
                                                        <xs:complexType>
                                                            <xs:attribute name="value" type="xs:double"></xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="ranks">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="rank" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="type"
                                                                                      type="xs:string"></xs:attribute>
                                                                        <xs:attribute name="id"
                                                                                      type="xs:int"></xs:attribute>
                                                                        <xs:attribute name="name"
                                                                                      type="xs:string"></xs:attribute>
                                                                        <xs:attribute name="friendlyname"
                                                                                      type="xs:string"></xs:attribute>
                                                                        <xs:attribute name="value"
                                                                                      type="xs:string"></xs:attribute>
                                                                        <xs:attribute name="bayesaverage"
                                                                                      type="xs:double"></xs:attribute>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="stddev">
                                                        <xs:complexType>
                                                            <xs:attribute name="value" type="xs:double"></xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="median">
                                                        <xs:complexType>
                                                            <xs:attribute name="value" type="xs:int"></xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="owned">
                                                        <xs:complexType>
                                                            <xs:attribute name="value" type="xs:int"></xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="trading">
                                                        <xs:complexType>
                                                            <xs:attribute name="value" type="xs:int"></xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="wanting">
                                                        <xs:complexType>
                                                            <xs:attribute name="value" type="xs:int"></xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="wishing">
                                                        <xs:complexType>
                                                            <xs:attribute name="value" type="xs:int"></xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="numcomments">
                                                        <xs:complexType>
                                                            <xs:attribute name="value" type="xs:int"></xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="numweights">
                                                        <xs:complexType>
                                                            <xs:attribute name="value" type="xs:int"></xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="averageweight">
                                                        <xs:complexType>
                                                            <xs:attribute name="value" type="xs:double"></xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="page" type="xs:int"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="type" type="xs:string"></xs:attribute>
                        <xs:attribute name="id" type="xs:int"></xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="termsofuse" type="xs:string"></xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>